# init.rc: system init script file
# DreamOS (Asylum)
# 'take the long way home'
# /lib/fnt/antique
sethostname quick]#
rem -- serial1 mouse driver (cua0)
# device /dev/cua0
color on
# useless, just for fun
# kmsg
# launch Graphic User Iterface
# gui
# for Navigator 
# cd qd
# ng
